body {
	background-color: #444;
	color: white;
}

.columns {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3vh;
}

.suggestion {
	margin: 3vh;
	width: 90%;
}

.inputs {
	margin: 3vh;
	width: 100%;
	min-width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search {
	display: flex;
	align-items: center;
	justify-content: center;
}

.inputs .content {
	width: 100%;
}

@media only screen and (min-width: 768px) {
	.columns {
		flex-direction: row;
		align-items: flex-start;
	}
	.suggestions {
		width: 60%;
	}
	.inputs {
		width: 40%;
	}
}