.keyboard {
	min-width: 560px;
	max-width: 560px;
	margin: 2vh 0 0 0;
	display: flex;
	flex-flow: wrap;
	align-items: center;
	justify-content: center;
}

.key {
	cursor: pointer;
	margin: 2px;
	padding: 15px 1px 15px 1px;
	text-align: center;
	font-weight: bold;
	font-family: 'Lucida Console', monospace;
	min-width: 50px;
	background-color: #bbb;
	border-radius: 5px;
	text-decoration: none;
	transition: 1.2s;
}

.key:active {
	background-color: #eee;
	transition: 0s;
}